.form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  margin-top: 6px;
}

button {
  width: 200px;
  height: 30px;
  border-radius: 20px;
  background-color: hotpink;
  color: white;
  margin-top: 6px;
}
